<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinKvm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinKvm.Properties.Settings>
            <setting name="VideoName" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="VideoHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="VideoScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VideoFourCC" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TrimTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimBottom" serializeAs="String">
                <value>0</value>
            </setting>
        </WinKvm.Properties.Settings>
    </userSettings>
</configuration>